*{
    margin: 0;
    padding: 0;
}
/* This is a navbar style start */
.container{
    background-color: rgb(34, 33, 33);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    color: white;
    cursor: pointer;
}
.logo-G{
    width: 180px;
}

.menu-bar{
    display: flex;

}
.item{
    margin-right: 10px;
    padding-right: 8px;
    font-size: 19px;
    padding: 3px;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
}
.item:hover{
    color: black;
}
/* Navbar style end */

/* Banner Section Style Start */
.banner-size{
    width: 360px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    color: white;
    /* border: 2px solid gray; */
    background-image: url(./Images/background.png),linear-gradient(45deg, rgb(8, 8, 8),rgb(53, 53, 53));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    font-size: 55px;
    font-weight: bold;
}
.pera{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn-one{
    background-color: red;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    color: white;
}
.btn-one:hover{
    background-color: blueviolet;
}
/* Banner Section Style Stop */
/* About Section Style Start */
.about-container{
    display: flex;
    justify-content: space-around;
    height: 70vh;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* flex-direction is reverse of two div */
    flex-direction: row-reverse;
}
.abt-photo{
    width: 320px;
}
.text-two{
    font-size: 15px;
    font-weight: bold;
    padding-top: 20px;
}
.btn-two{
    background-color: red;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    color: white;
    margin-top: 15px;
}
.btn-two:hover{
    background-color: blueviolet;
}
.abt-heading{
    font-weight: bold;
    font-size: 50px;
    margin-top: 10px;
    text-align: center;
}
/* About Section Style End */
/* Service Style Start Here */
.service-container{
    display: flex;
    justify-content: space-around;
    background-image: url(./Images/background.png),linear-gradient(45deg, rgb(8, 8, 8),rgb(53, 53, 53));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    align-items: center;
    
    
}
.digital-art{
    background-color: black;
    color: white;
    width: 250px;
    height: 400px;
    align-items: center;
    box-shadow: 4px 4px 15px white;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
}
.zero{
    width: 120px;
}
.btn-gray{
    background-color: gray;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    color: white;
    margin-top: 15px;
}
.hd-title{
    font-size: 45px;
    text-align: center;
    padding-top: 20px;
}
.para-services{
    margin-top: 15px;
    font-size: 18px;
}
.hdr{
    font-size: 45px;
    text-align: center;
    padding-top: 20px;
    background-image: url(./Images/background.png),linear-gradient(45deg, rgb(8, 8, 8),rgb(53, 53, 53));
    color: white;
}
/* Service Style End here */
/* Footer Style Start Here */
.ftr-container{
    background-color: rgb(12, 12, 12);
    color: white;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}
.ftr-photo{
    width: 150px;
    margin-bottom: 18px;
}
.ftr-cpy{
    text-align: center;
    padding-top: 20px;
    background-color: rgb(12, 12, 12);
    color: white;
    padding: 20px;
}
#line{
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 10px;
}